/* nav related styles */
/* common shared font styles */
*{
    /* margin: 0; */
    /* padding: 0; */
}
body{

    font-family: "lato", sans-serif;
    font-family: "Open Sans", sans-serif;

}
.text-primary{
    color: #FD6E0A;
}
nav{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #454545;
}
.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/* Header Related styles */

.header{
    background-color:#FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat:  no-repeat;
    background-position: bottom right;
   
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width: 500px;
}
.banner .profile-picture{
    height: 500px;
}
.banner-greeting{
    font-size: 40px;
    color: #474747;
    margin: 5px;
}
.banner-title{
    font-size: 75px;
    font-weight: 700;
    margin: 5px 0px 5px 0;
}
.banner-description{
    margin: 10px 0px 20px 0px;
}

/* Main section */